{% extends "./layout/page.html" %}{% block content %}
<!-- #################
    ##	hero area start	##
    ################# -->
<header class="hero hero-page" style="--bg: url('../images/about.jpg')">
  <div class="container">
    <div class="hero_breadcrumb">
      <a href="{% url 'website.home' %}">home</a>
      <i class="bi bi-chevron-right hero_breadcrumb_divider"></i>
      <span>about</span>
    </div>
    <h2 class="hero_title"><span>About</span> us</h2>
    <p class="hero_description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit sunt
      suscipit minus eum doloribus odit id officia totam delectus sed.
    </p>
  </div>
</header>
<!-- hero area end -->
<!-- #################
    ##	page content	##
    ################# -->
<div class="page_content block">
  <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam maiores
    accusantium a cumque beatae perspiciatis modi magni nam inventore, fugit,
    in, placeat ad sed deleniti error eius aperiam veritatis voluptatibus velit
    at.
    <br />
    Quos commodi ipsum minus deserunt distinctio quae laboriosam suscipit odio
    repellat, placeat ratione necessitatibus ipsa. Sed magnam nisi nobis aperiam
    consequuntur minus cupiditate quas reprehenderit, pariatur doloremque
    asperiores excepturi eligendi ex ratione beatae mollitia deleniti, quis
    laboriosam amet placeat? Eos, veritatis soluta quisquam iure maxime
    repellendus voluptates distinctio adipisci non quae rerum cum voluptatibus
    unde eum labore qui?
    <br />
    <br />
    Magni natus delectus eum molestias animi ab laudantium quibusdam, eligendi
    tempore molestiae amet aspernatur veritatis distinctio sunt minus? Sint
    harum repellat at aliquam numquam magnam obcaecati qui hic cumque optio.
    Soluta dignissimos veniam corporis placeat, eius ut dolores, modi culpa
    error non dicta in consectetur a aut repellendus pariatur ex sed commodi
    deleniti.
    <br />
    Repellat inventore perspiciatis aliquid, iusto quam aut velit doloremque,
    illo porro earum pariatur? Nemo quidem quibusdam ipsum eius ad dolore rem
    sunt itaque nobis velit optio voluptate illo laboriosam, sit molestiae
    maxime incidunt qui temporibus animi placeat? Asperiores amet laudantium,
    quaerat, voluptatum officiis at, error fugiat est beatae quas doloribus
    eligendi sequi quod consequuntur possimus autem repudiandae?
  </div>
</div>
<!-- page content end -->
{% endblock content %}
