{% extends "./layout/page.html" %}{% block content %} {% load static %}
<!-- #################
    ##	hero area start	##
    ################# -->
<header
  class="hero slider"
  style="
    --bg: url('../images/slider/slide-1.jpg');
    --bg1: url('../images/slider/slide-1.jpg');
    --bg2: url('../images/slider/slide-2.jpg');
    --bg3: url('../images/slider/slide-3.jpg');
    --bg4: url('../images/slider/slide-4.jpg');
  "
>
  <div class="container">
    <!-- hero slogan -->
    <h2 class="hero_title">
      Make your Business more
      <br />
      <span>Successfull</span> with us
    </h2>
    <!-- hero cta buttons -->
    <div class="hero_cta">
      <a href="#" class="btn btn-lg btn-light">Get Quote</a>
      <a href="#" class="btn btn-lg btn-primary">How We Works?</a>
    </div>
  </div>
</header>
<!-- hero area end -->
<!-- #################
    ##	how we works start	##
    ################# -->
<section class="works block">
  <div class="container">
    <!-- works header area -->
    <div class="block_header works_header">
      <h3 class="tooltip">how we works?</h3>
      <h2 class="block_title">Our Working Process</h2>
      <p class="block_description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
        natus.
      </p>
    </div>
    <!-- works content area -->
    <div class="works_content">
      <!-- working process one -->
      <article class="card card-type-1">
        <div class="card_media">
          <span class="card_icon material-icons">local_fire_department</span>
        </div>
        <div class="card_content">
          <h2 class="card_title">Share your ideas</h2>
          <p class="card_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac
            faucibus non netus est, egestas elit.
          </p>
        </div>
      </article>
      <!-- working process two -->
      <article class="card card-type-1">
        <div class="card_media">
          <span class="card_icon material-icons">work_outline</span>
        </div>
        <div class="card_content">
          <h2 class="card_title">Our team gets to work</h2>
          <p class="card_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac
            faucibus non netus est, egestas elit.
          </p>
        </div>
      </article>
      <!-- working process three -->
      <article class="card card-type-1">
        <div class="card_media">
          <span class="card_icon material-icons">query_stats</span>
        </div>
        <div class="card_content">
          <h2 class="card_title">Review the results</h2>
          <p class="card_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac
            faucibus non netus est, egestas elit.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
<!-- how we works area end -->
<!-- #################
    ##	features start	##
    ################# -->
<section class="features block">
  <div class="container">
    <!-- features featured cards -->
    <div class="features_featured">
      <!-- features featured one -->
      <article class="card card-type-2">
        <div class="card_media">
          <span class="card_icon material-icons">support</span>
        </div>
        <div class="card_content">
          <h2 class="card_title">24 Hour Support</h2>
          <p class="card_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac
            faucibus non netus est, egestas elit.
          </p>
        </div>
      </article>
      <!-- features featured two -->
      <article class="card card-type-2">
        <div class="card_media">
          <span class="card_icon material-icons">delivery_dining</span>
        </div>
        <div class="card_content">
          <h2 class="card_title">Ontime Delivery</h2>
          <p class="card_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac
            faucibus non netus est, egestas elit.
          </p>
        </div>
      </article>
    </div>
    <!-- features area -->
    <div class="features_area">
      <!-- features header area -->
      <div class="block_header features_header">
        <h3 class="tooltip">why choose us?</h3>
        <h2 class="block_title">Our Features</h2>
      </div>
      <!-- features content area -->
      <div class="features_content">
        <!-- feature one -->
        <article class="card card-type-3">
          <div class="card_media">
            <span class="card_icon material-icons">insert_chart_outlined</span>
          </div>
          <div class="card_content">
            <h2 class="card_title">Expand Your Business</h2>
            <p class="card_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac
              faucibus non netus est, egestas elit.
            </p>
          </div>
        </article>
        <!-- feature two -->
        <article class="card card-type-3">
          <div class="card_media">
            <span class="card_icon material-icons">draw</span>
          </div>
          <div class="card_content">
            <h2 class="card_title">Creative Team Members</h2>
            <p class="card_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac
              faucibus non netus est, egestas elit.
            </p>
          </div>
        </article>
        <!-- feature three -->
        <article class="card card-type-3">
          <div class="card_media">
            <span class="card_icon material-icons">local_fire_department</span>
          </div>
          <div class="card_content">
            <h2 class="card_title">Get More Sales</h2>
            <p class="card_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac
              faucibus non netus est, egestas elit.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- features end -->
<!-- #################
    ##	services area start	##
    ################# -->
<section class="services block">
  <div class="container">
    <!-- services header area -->
    <div class="block_header services_header">
      <h3 class="tooltip">Our Services</h3>
      <h2 class="block_title">
        Your Satisfaction is Our
        <br />
        <span>Achivement</span>
      </h2>
      <p class="block_description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac
        faucibus non netus est, egestas elit.
      </p>
    </div>
    <!-- services content area -->
    <div class="services_content">
      {% for service in services %}
      <article class="card card-type-2 card-type-1" id="{{ service.id }}">
        <div class="card_media">
          <span class="card_icon material-icons">{{ service.icon }}</span>
        </div>
        <div class="card_content">
          <h2 class="card_title">{{ service.title }}</h2>
          <p class="card_text">{{ service.text }}</p>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
<!-- services area end -->
<!-- #################
    ##	Work With Us area	##
    ################# -->
<section class="work_with block">
  <div class="container">
    <div class="block_header">
      <h2 class="block_title">Interested To <span>Work</span> With Us?</h2>
      <div class="block_description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac
        faucibus non netus est, egestas elit.
      </div>
    </div>
    <!-- work with us content -->
    <div class="work_with_content">
      <!-- contact form -->
      <form class="contact_form">
        <!-- contact form header -->
        <div class="contact_form_header">
          <h2 class="contact_form_title">
            <span class="material-icons-outlined contact_form_icon"
              >textsms</span
            >
            Send A Message
          </h2>
          <p class="contact_form_text">
            our team will reach you as soon as possible
          </p>
        </div>
        <!-- contact form content -->
        <div class="contact_form_content">
          <input
            type="email"
            name="email"
            placeholder="your@email.com"
            class="contact_form_field"
          />
          <textarea
            name="message"
            placeholder="message"
            class="contact_form_field"
          ></textarea>
          <button class="btn btn-primary contact_form_btn">Send message</button>
        </div>
      </form>
      <!-- testimonial -->
      <div class="testimonial">
        <!-- testimonial contents -->
        <div class="testimonial_content">
          <!-- testimonial first qoute -->
          <span class="testimonial_quote first">"</span>
          <!-- testimonial text qoute -->
          <p class="testimonial_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel
            illo voluptatem dicta,
          </p>
          <!-- testimonial last qoute -->
          <span class="testimonial_quote second">"</span>
        </div>
        <div class="testimonial_footer">
          <!-- testimonial control center -->
          <div class="testimonial_control">
            <button class="btn btn-sm btn-light testimonial_btn">
              <span class="material-icons-round">chevron_left</span>
            </button>
            <button class="btn btn-sm btn-light testimonial_btn">
              <span class="material-icons-round">chevron_right</span>
            </button>
          </div>
          <!-- testimonial author -->
          <div class="testimonial_author">
            <img
              src="{% static './images/client.jpg' %}"
              alt=""
              class="testimonial_author_media"
            />
            <div>
              <h2 class="testimonial_author_title">Jhon Doe</h2>
              <h3 class="testimonial_author_profession">affiliate marketer</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- work with us end -->
{% endblock content %}
