<footer class="footer">
    <!-- footer top area -->
    <div class="footer_top">
        <div class="container">
            <!-- footer website info area -->
            <div class="footer_info">
                <!-- footer info logo -->
                <h2 class="footer_info_logo">
                    <a href="#">
                        <span>ze</span>Fiy
                    </a>
                </h2>
                <!-- footer info text -->
                <p class="footer_info_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi</p>
            </div>
            <!-- footer contact list -->
            <ul class="footer_contacts list">
                <li class="list_title">Contacts</li>
                <!-- contact one -->
                <li class="list_item">
                    <span class="list_icon material-icons">location_on</span>
                    <a href="#" class="list_text">58 Howard Street #2 San Fransisco</a
                        >
                    </li>
                    <!-- contact two -->
                    <li class="list_item">
                        <span class="list_icon material-icons">send</span>
                        <a href="#" class="list_text">contact@zefiy.com</a>
                    </li>
                    <!-- contact three -->
                    <li class="list_item">
                        <span class="list_icon material-icons">phone</span>
                        <a href="#" class="list_text">+05927 2389 289</a>
                    </li>
                </ul>
                <!-- quick links list -->
                <ul class="quick_links list">
                    <li class="list_title">Quick Links</li>
                    <!-- link one -->
                    <li class="list_item">
                        <span class="list_icon material-icons">chevron_right</span>
                        <a href="#" class="list_text">About Us</a>
                    </li>
                    <!-- link two -->
                    <li class="list_item">
                        <span class="list_icon material-icons">chevron_right</span>
                        <a href="#" class="list_text">Get In Touch</a>
                    </li>
                    <!-- link three -->
                    <li class="list_item">
                        <span class="list_icon material-icons">chevron_right</span>
                        <a href="#" class="list_text">Services</a>
                    </li>
                    <!-- link four -->
                    <li class="list_item">
                        <span class="list_icon material-icons">chevron_right</span>
                        <a href="#" class="list_text">Portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- footer bottom area -->
        <div class="footer_bottom">
            <div class="container">
                <!-- footer credit -->
                <p class="footer_credit">© 2022 all rights are reserved by ZeFiy</p>
                <!-- footer social links -->
                <ul class="social_links">
                    <li class="social_links_item">
                        <a href="#"><i class="bi bi-whatsapp"></i></a>
                    </li>
                    <li class="social_links_item">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="social_links_item">
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="social_links_item">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="social_links_item">
                        <a href="#"><i class="bi bi-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
